### Day Objectives
#### Practice on Income Dataset
##### Define functions for the following data points
- Average Income of all states from 2005 to 2013
- State with highest average income in the last three years
- State with lowest average income from 2007 to 2010(inclusive)
- Print the list of all states in the same line with average income less than California
- Print the names of states based on descending order of income in the year 2009
- State with the lowest recorded income from 2005 to 2013

In [2]:
# Function to read CSV data into a DataFrame and
# returns the DataFrame object

filepath = 'Data files/income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)

readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [3]:
def getRowData(df,rowkey):
    for i in range(len(df.values)):
        if df.values[i][0] == rowkey or df.values[i][1] == rowkey:
            rowindex = i
    return rowindex

def getColumnData(df,columnkey):
    for i in range(len(df.columns)):
        if df.columns[i] == columnkey:
            columnindex = i
    return columnindex

In [4]:
# Average Income of all states from 2005 to 2013
incomedf=readCSVdata(filepath)
def avgofeachcolumn(df,columnindex):
    sum=0
    for row in incomedf.values:
        #print(row[columnindex])
        sum+=row[columnindex]
    return sum/len(incomedf.values)

def avgincomeingivenrange(df,columnkey1,columnkey2):
    lb=getColumnData(df,columnkey1)
    ub=getColumnData(df,columnkey2)
    c=0
    sum=0
    for columnindex in range(lb,ub+1):
        c = c+1
        sum = sum+avgofeachcolumn(df,columnindex)
    return sum/c
avgincomeingivenrange(incomedf,"2005","2013")

48525.42222222223

In [5]:
# Average Income of all states from 2005 to 2013
incomedf=readCSVdata(filepath)
def avgofeachcolumn(df,columnindex):
    li = []
    for row in incomedf.values:
        li.append(row[columnindex])
    return li

def avgincomeingivenrange(df,columnkey1,columnkey2):
    lb = getColumnData(df,columnkey1)
    ub = getColumnData(df,columnkey2)
    li=[]

    for columnindex in range(lb,ub+1):
        li.extend(avgofeachcolumn(df,columnindex))
    #print(len(li))
    return sum(li)/len(li)
avgincomeingivenrange(incomedf,"2005","2013")

48525.42222222222

In [6]:
# State with highest average income in the last three years

def avgofstateingivenrange(df,rowkey,columnkey1,columnkey2):
    lb = getColumnData(df,columnkey1)
    ub = getColumnData(df,columnkey2)
    count=0
    sum=0
    for row in df.values:
        if rowkey in row:
            for item in range(lb,ub+1):
                count=count+1
                sum=sum+row[item] 
    return sum/count

avgofstateingivenrange(incomedf,'Alaska',"2011","2013")

60738.666666666664

In [7]:
def maxavgincomeingivenrange(df,columnname,columnkey1,columnkey2):
    columnindex = getColumnData(df,columnname)
    #for rowkey in range(firstrow,lastrow+1):
    li={}
    for column in incomedf.values:
        rowkey=str(column[columnindex])
        li[rowkey]=(avgofstateingivenrange(df,rowkey,columnkey1,columnkey2))
    for item in li.items():
        if item[1]==max(li.values()):
            print(item[0])
maxavgincomeingivenrange(incomedf,"State","2005","2013")

Alaska

In [8]:
# State with lowest average income from 2007 to 2010(inclusive)
def maxavgincomeingivenrange(df,columnname,columnkey1,columnkey2):
    columnindex = getColumnData(df,columnname)
    #for rowkey in range(firstrow,lastrow+1):
    li={}
    for column in incomedf.values:
        rowkey=str(column[columnindex])
        li[rowkey]=(avgofstateingivenrange(df,rowkey,columnkey1,columnkey2))
    for item in li.items():
        if item[1]==min(li.values()):
            print(item[0])
maxavgincomeingivenrange(incomedf,"State","2005","2013")

Arkansas

In [10]:
incomedf=readCSVdata(filepath)
#def accessdatafromcolumn(df,column):
#incomedf.values()
def accessdataframerow(df,key):
    sum=0
    count=0
    for row in df.values:
        if key in row:
            for item in range(2,len(row)):
                count+=1
                #print(row[item])
                sum=sum+row[item]
                
            #print('\n')
    return sum/count
accessdataframerow(incomedf,'Alaska')

60106.555555555555

In [12]:
# Print the list of all states in the same line with average income less than California

def avginclessthancalf(df,stateindex,state):
    stateindex=getColumnData(df,stateindex)
    avgdict={}
    for column in df.values:
        statekey=str(column[stateindex])
        avgdict[statekey]=accessdataframerow(df,statekey)
    #print(avgdict)
    for item in avgdict.items():
        if item[1]<avgdict[state]:
            #print(item[1],avgdict[state])
            print(item[0],end=' ')
avginclessthancalf(incomedf,"State",'California')

Alabama Arizona Arkansas

In [9]:
# Print the names of states based on descending order of income in the year 2009

incomedf=readCSVdata(filepath)
def avgofeachcolumn(df,columnindex):
    li = []
    
    for row in incomedf.values: 
        li.append(row[columnindex])
    return sorted(li)
    if i in li:
        print(items(1))
avgofeachcolumn(incomedf,6)


def desorder(df,columnkey,stateskey):
    columnkey=getColumnData(df,columnkey)
    stateskey=getColumnData(df,stateskey)
    dict={}
    for column in df.values:
        dict[column[stateskey]]=(column[columnkey])
        values=list(dict.values())
        v=sorted(values,reverse=True)
    for inc in v:
        #print(inc)
        #print([values.index(inc)])
        print(df.values[values.index(inc)][stateskey])
        
        
desorder(incomedf,"2009","State")

Alaska
California
Arizona
Alabama
Arkansas

In [13]:
#State with the lowest recorded income from 2005 to 2013
def lowincomeof(df,lb,ub,stateindex):
    lb=getColumnData(df,lb)
    ub=getColumnData(df,ub)
    stateindex=getColumnData(df,stateindex)
    list=[]
    for column in df.values:
        for columindex in range(lb,ub+1):
            list.append(column[columindex])
    key=min(list)
    print(key)
    for row in df.values:
        if key in row:
            print(row[stateindex])
lowincomeof(incomedf,"2005","2013","State")

36538
Arkansas