## Markdown Basics
* **Bold**<br>
* *Italic*<br>
* ***BoldItalic***
* Normal text
    * Sublist-1
      * Sublist-2
      

1. Ordered list element-1
2. Ordered list element-2


[G-power](download.png)


- [ ] Option-1
- [ ] Option-2


![G-power](download.png)

<img src="download.png">



I get 10 times more traffic from [Google][] than from
[Yahoo][] or [MSN][].

  [google]: http://google.com/        "Google"
  [yahoo]:  http://search.yahoo.com/  "Yahoo Search"
  [msn]:    http://search.msn.com/    "MSN Search"
  
  
  
  
  
  
  [Google]: http://google.com/

## Python Basics

### Python Version 3.7

In [11]:
# Python comments

print("gaya3")
print("Good afternoon", "!",end=",")
print("arjun")

gaya3
Good afternoon !,arjun

## Assignment

In [12]:
a = "nikhila"
b = "arjun"

In [13]:
print(a)
print(b)

nikhila
arjun

In [35]:
n1 = 123 #single variable assignment

n5 = n2 = n3 = n4 = n1 #multi variable assignment

In [36]:
n4

123

In [23]:
a,b,c = 123,234,345 #multi variable assignment with different values

a,b,c

(123, 234, 345)

## Data Types
- int
- float
- string
- double

In [51]:
type(a)
s1 = "python"
type(s1)

f1 = 12.345
type(f1)
int(f1)
float(str(int(f1)))

12.0

## Arthematic Operations
* +
* -
* *
* /
* %
* //
- **

In [40]:
n1 % 11
n2 = 5

In [55]:
n3 = n2 ** 12
n3

type(n3)
#len(str(n3))
n3
atoms = 10 ** 82
len(str(atoms))
type(str(atoms))

122321 ** 9

6130687873308026945890176790042303730066739281

In [45]:
atoms = 10 ** 82

## Conditionals

In [59]:
if atoms < 10 ** 96:
    print("True")
else:
    print("False")

True

In [2]:
# Check if a number is Even

n = int(input("Enter the n number"))
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter the n number234
Even

In [4]:
# find the greatest number of given three numbers

n1 = int(input("Enter the first number"))
n2 = int(input("Enter the second number"))
n3 = int(input("Enter the third number"))

if n1 >= n2 and n1>=n3:
    print(n1, "is the greatest")
elif n2 > n3:
    print(n2, "is the greatest")
else:
    print(n3, "is the greatest")

Enter the first number100
Enter the second number2
Enter the third number300
300 is the greatest

In [ ]:
# Check if a year is a leap year

l = int(input("enter l value"))
if(l%400== 0 or (l%4==0 and l%100!=0)):
    print("Given number is a leap year")
else:
    print("Not a leap year")

In [ ]:
## Check if a number exists in a given range(inclusive)

n1 = int(input("enter n1 value"))
lb = int(input("enter lowerbound"))
ub = int(input("enter upperbound"))
if (n1>=lb) and (n1<=ub):
    print("given number is in the given range")
else:
    print("given range is out of range")

In [3]:
# Calculate the number of digits in a number
n1 = 134245925
print(len(str(n1)))

9

In [ ]:
# Check if a number is a multiple of 10
if n % 10 == 0:
    print(n1, "is a multiple of 10")
else:
    print(n1, "is not a multiple of 10")

In [ ]:
# Check if a number is a factor of 1000

n = int(input("enter n1 value"))
if 1000 % n1 == 0:
    print(n1,"is a factor of 1000")
else:
    print(n1,"is not a factor of 1000")

In [ ]:
# Check if a given string is equal ta a number
s1 = "python"
n1 = 123456
if str(n1) == s1:
    print(n1, "is equal to", s1)
else:
    print(n1, "is not equal to", s1)

In [ ]:
# Calculate the square root of a number without functions

n = int(input("enter n1 value"))
n ** 0.5

In [ ]:
# Calculate the number of nano seconds in a 
# given year(considering leap year logic)
year = 2019
if l%400== 0 or (l%4==0 and l%100!=0):
    print(366 * 24 * 60 * (10*9))
else:
    print(365 * 24 * 60 * (10*9))