In [5]:
## Function to print all combinations of pairs of integers in a 
# [1,2,3]---> (1,2),(1,3),(2,3) -> 3C2 --> 3!/((3-2))
# [1,2,3,4] --> (1,2),(1,3),(1,4),(2,3),(2,4),(3,4)

def combinations2(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            print(li[i],li[j])
    return
li = [1,2,3,4]
combinations2(li)

1 2
1 3
1 4
2 3
2 4
3 4

In [15]:
def combinations3(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
li = [1,2,3,4,5]
combinations3(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [ ]:
def kLargestDiffrencePairs(li):

In [10]:
def medium(li):
    count = 1
    while(True):
        if count == 1
    
        li3 = differencePairs(li)
        if li3[0] == li3[1]:
            break
    return li

        

def differencePairs(li):
    cli = li
    newelements = []
    for i in range(len(cli)-1):
        for j in range(i+1,len(cli)):
            d = abs(li[i]-li[j])
            if d not in li and d not in :
                newelements.append(d)
    li.extend(newelements
    return [cli,li]
li  = [1,9,8]
medium(li)

[1, 9, 8, 7, 2, 6, 5, 4, 3]

In [22]:
def differencePairs(li):
    for i in li:
        for j in range(0,len(li)):
            d = abs(i-li[j])
            if d!=0:
                if d not in li:
                    li.append(d)
    li = sorted(li)
    print(li)
    print(li[k-1])
    #li.extend(newelements)
    #return li
li = [1,9,8]
k=int(input())

differencePairs(li)

4
[1, 2, 3, 4, 5, 6, 7, 8, 9]
4

In [23]:
def medium(li,k):
    while(True):
        li2 = differencePairs(li)
        if li2[0] == li2[1]:
            break
    if len(li2[0]) >= k:
        return sorted(li2[0],reverse=True)[k]
    return -1

# function to identify differences of all elements
# pairs of numbers and add those differences to same list
# it returns the updated and original list

def differencePairs(li):
    cli = li[:]
    newElements =[]
    for i in range(len(li) - 1):
        for j in range(i+1, len(li)):
            diff =abs(li[i]-li[j]) 
            if diff not in li and diff not in newElements:
               #cli.append(diff)
                newElements.append(diff)
    li.extend(newElements)
    return [cli, li]

li = [1,9]
#differencePairs(li)
medium(li,2)

7

In [ ]:
## Convert the list into an #Arithmetic progression

[4,8]
[20,40,60]
[4,8,12,16]
[3,6,9,12]
[3,8,15]
[3,8,15,5,2,1,4,6,7,9,10,11,12,13,14]

In [29]:
def medium(li,k):
    while(True):
        li2 = differencePairs(li)
        if li2[0] == li2[1]:
            break
    if len(li2[0]) >= k:
        return sorted(li2[0],reverse=True)[k]
    return -1

def differencePairs(li):
    cli = li.copy()
    newelements = []
    for i in range(len(li) - 1):
        for j in range(i+1, len(li)):
            d = abs(li[1]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli,li]

li = [2,3,6,9,12]
differencePairs(li)
medium(li,2)

6

## Set Data Structure in python

Represented by '{}'

In [38]:
a = {1,2,3,4,5,6,6}
a# not displays any duplicate values
a.add(7)# Adding a single element to a set
a
#for i in a:
    #print(i,end=' ')## Acessing the element
    
b = {7,8,9,1,2,3} ## Adding a multiple elements at a time
li = [11,12,13]

a.update(b,li)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13}

In [42]:
a.discard(13) ## if u want to remove a particular value and discard is better to use instend of remove
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12}

In [50]:
a.isdisjoint(c)

False

In [54]:
a-b #All elements of a which are not in b
b-a

{7, 8, 9}

In [57]:
sorted(a)

[1, 2, 3, 4, 5, 6, 10]

In [56]:
sorted(b)

[1, 2, 3, 7, 8, 9]

In [58]:
a^b # Elements either in a or not in B

{4, 5, 6, 7, 8, 9, 10}

In [52]:
c = {10,1,2,3,4,5,6}
d = {7,8,9,1,2,3}

c.union(d)
c

{1, 2, 3, 4, 5, 6, 10}

In [51]:
c = {10,1,2,3,4,5,6}
d = {7,8,9,1,2,3}

c.intersection(d)
c

{1, 2, 3, 4, 5, 6, 10}

In [59]:
d = set() #Creates an empty set
d

set()

In [60]:
li = [1,2,3,4,2,1,2,3,4]
u = set(li)
u

{1, 2, 3, 4}

In [ ]:
Procedural : C
Object Oriented : Java,Python
Scripting : PHP,PYTHON,Javascript,Shell
Functional : Python,Haskell,Scala
Logi : Prolog,Lisp

## Functional Programming

## List Comprehensions

In [63]:
# N Natural numbers in alist
n = 10
li = []
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
li = [i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
# Apply list comprehension to store the cubes on n natural numbers

li = [i ** 3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [69]:
# Function  to calculate the factorial

def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n-1)

# Apply list comprehension to calculate 
# factorial of n natural numbers

n = 5
factorialList = [factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120]

In [75]:
# Store cumulative sum of numbers 
# n = 3, [1,3,6]
n = 3
c_s = [sum(range(1,n+1))]
c_s

[6]

In [88]:
n = 5
c_s = [sum(range(1,i+1)) for i in range(1,n+1)]
c_s

[1, 3, 6, 10, 15]

In [95]:
# Function to store only the leap years in a given range
# Only leap years in a given time period
def lp(st,et):
    for n in range(st,et):
        if n%400==0 or (n%4 == 0 and n%100 != 0):
            return n
lp(1970,2019)
st = 1970
et = 2019
lp = [i for i in range(st,et+1)
      if i%400 ==0 or(i%4 ==0 and i%100 !=0)]

lp

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [100]:
li = [1,2,3,2,1]
li.sort( )
uniq = []
unique = []
unique = [uniq.append for i in range(0,len(li)-1)
          if li[i] != li[i+1]]
unique

[3]

In [ ]:
sorted(li[0])

### Iterators

Iterable --> Strings,Lists,Tuples,Sets,Dictionarie

Convert Iterable to a iterator --> iter()

In [110]:
it = iter('Python')
print('1: ')
print(next(it))
print('\n')
print('2:')
print(next(it))

1:
P


2:
y

### Generators

Generator is Function

In [121]:
def generator():
    n = 2
    yield n
    
    n = n**3
    yield n
    
    n = n**3
    yield n
a = generator()
next(a)
next(a)
next(a)

512

In [129]:
def generator():
    n = 2
    while True:
        n **=3
        yield n
a = generator()
for i in range(5):
    print(next(a))

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208